<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHAGR181nMZ-XgrAXdQE2gH0Ov893VSB8</string>
	<key>GCM_SENDER_ID</key>
	<string>815523649259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasks</string>
	<key>PROJECT_ID</key>
	<string>tasklist-6dae3</string>
	<key>STORAGE_BUCKET</key>
	<string>tasklist-6dae3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815523649259:ios:5d83dbd22c23bffc38d0ae</string>
</dict>
</plist>